// Typography
@import url('https://fonts.googleapis.com/css?family=Abel|Archivo+Narrow|News+Cycle:700');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Teko:700');

$abel: 'Abel', sans-serif;
$archivoNarrow: 'Archivo Narrow', sans-serif;
$newsCycle: 'News Cycle', sans-serif;
$teko: 'Teko', sans-serif;
$pressStart: 'Press Start 2P', cursive;

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$line-height: 1.5;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$font-family-base: $newsCycle !default;
$font-size-base: 16px !default;
$font-weight-base: $font-weight !default;
$line-height-base: 1.5 !default;

//Colors
$white: #fff;
$pink: rgba(246, 232, 234, 1);
$coral: rgba(239, 98, 108, 1);
$dark-gray: rgba(34, 24, 28, 1);
$gray: rgba(49, 47, 47, 1);
$teal: rgba(132, 220, 207, 1);

//Simon Colors
$green: #09BC18;
$yellow: #E2C20D;
$blue: #087BAF;
$red: #C10934;
$dark-red: #32050C;

//Shapes
$circle: 50%;
$rounded-square: 20%;

// Body
//
// Settings for the `<body>` element.

$body-bg:       $light !default;
$body-color:    $dark-gray !default;

//Grid from bootstrap
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
