.board {
  background-color: transparent;
  @include size(490px);
  margin: 50px auto;
  padding: 5px;
}

.cell {
  @include font-size(150px);
  @include size(150px);
  text-align: center;
  display: block;
  float: left;
  margin: 5px;
  background-color: $teal;
  &:hover{
    cursor: default;
  }
}

.empty:hover {
  cursor: pointer;
  background-color: darken($teal, 10%);
}

.user {
  color: $white;
}
.comp {
  color: $coral;
}

@include media-breakpoint-down(sm) {
  .board{
    @include size(490px*0.60);
    margin: 50px*0.60 auto;
    padding: 5px*0.60;
  }
  .cell {
    @include font-size(150px*0.60);
    @include size(150px*0.60);
    margin: 5px*0.60;
  }
}
