.board {
  background-color: transparent;
  width: 490px;
  height: 490px;
  margin: 50px auto;
  padding: 5px;
}

.cell {
  @include font-size(150px);
  text-align: center;
  width: 150px;
  height: 150px;
  display: block;
  float: left;
  margin: 5px;
  background-color: $teal;
  &:hover{
    cursor: default;
  }
}

.empty:hover {
  cursor: pointer;
  background-color: darken($teal, 10%);
}

.user {
  color: $white;
}
.comp {
  color: $coral;
}